.ol1{
    outline: double;
    outline-style: 2px red;
    line-height: 6;
    background-image: linear-gradient( 226.4deg,  rgba(255,26,1,1) 28.9%, rgba(254,155,1,1) 33%, rgba(255,241,0,1) 48.6%, rgba(34,218,1,1) 65.3%, rgba(0,141,254,1) 80.6%, rgba(113,63,254,1) 100.1% );
}
.ol2{
    outline: groove;
    outline-style: 2px aqua;

    outline-width: medium;
}
.ol1{
    text-align: center;
    text-decoration:line-through;
}
.h1{
    text-align: center;
    text-decoration-line:overline;
    letter-spacing: 20px;
}
.h2{
    text-align:left;
    text-decoration-line: line-through;
    text-indent: 20px;

}
.h3{
    text-align: right;
    text-decoration-line: underline;

}
#grad {
    background-image: linear-gradient(red, yellow);
  }

