.gett{
    color: aqua;
}
#sharan{
    color: blue;
}
.r0{
    background-color: rgba(255, 0, 0, 0);
}
.r02{
    background-color: rgba(255, 0, 0, 0.2);
}
.r03{
    background-color: rgba(255, 0.3, 55, 0.2);
}
.r05{
    background-color: rgba(255, 150, 0, 0.2);
}
.r07{
    background-color: rgba(255, 0, 200, 0.2);
}
.r09{
    background-color: rgba(100, 255, 0, 0.2);
}